<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom ps-3">
      <a href="/" class="text-decoration-none">
        <app-header></app-header>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Products</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Departments</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
        <a class="btn btn-outline-dark btn-sm me-3 py-2 text-decoration-none" href="#">Login</a>
      </nav>

    </div>
  </header>
</div>